h1 {
    font-size: 75pt;
    color: whitesmoke;
}
h1 {
    border: double;
    text-align: center;
}
h2 {
    color: whitesmoke;
    font-size: 25pt;
}
h3 {
    color: lightgreen;
    font-size: 25pt;
}
h4 {
    color: blue;
    font-size: 25pt;
}
h5 {
    color: purple;
    font-size: 25pt;
}
h6 {
    color: goldenrod;
    font-size: 25pt;
}
h7 {
   color: yellow;
   font-size: 25pt; 
}
